# Ignorar los directorios y archivos de Maven
target/
.mvn/
*.log
*.iml

# Ignorar archivos de configuración de IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Ignorar archivos de configuración de Eclipse
.classpath
.project
.settings/

# Ignorar archivos de configuración de NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos y directorios de Docker
docker-compose.yml
Dockerfile
